<style type="text/css">
* 
{
    list-style-type: none !important;
    border-style: none !important;
}

body
{
    background-color: #02ADBA;
}
.headerlink
{
    color: white;
}

.tab-pane
{

}

h1
{
    color: #02ADBA;
    text-align: center;
}

.tag
{
    background-color: lightgreen;
}
 section {
padding: 100px 0;
text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn {
    width: 40%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.promise {
    color: #999;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
            }

</style>

<!-- top icons -->
<ul class="nav nav-tabs col col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12 col-lg-offset-0" role="tablist" id="myTab" style='color:white !important;padding-top:5%;padding-bottom:5%;z-index:5;background-color: #02ADBA;'>
    <a class="headerlink col col-lg-2 col-md-2 col-lg-offset-2 active" href="#events" aria-controls="events" role="tab" data-toggle="tab" style="text-align:center;">
        <li role="presentation" class="active fa fa-calendar fa-5x" style="text-align:center;"><br /><div style="font-size:15px;padding-top:10px;">Events</div></li>
    </a>
    <a class="headerlink col col-lg-2 col-md-2"  href="#gethelp" aria-controls="gethelp" role="tab" data-toggle="tab" style="text-align:center;">
        <li role="presentation" class="fa fa-users fa-5x" style="text-align:center;"><br /><div style="font-size:15px;padding-top:10px;">Get Help</div></li>
    </a>
    <a class="headerlink col col-lg-2 col-md-2"  href="#aboutus" aria-controls="aboutus" role="tab" data-toggle="tab" style="text-align:center;">
        <li role="presentation" class="fa fa-question-circle fa-5x" style="text-align:center;"><br /><div style="font-size:15px;padding-top:10px;">About Us</div></li>
    </a>
    <a class="headerlink col col-lg-2 col-md-2"  href="#messages" aria-controls="messages" role="tab" data-toggle="tab" style="text-align:center;">
        <li data-toggle="modal" data-target="#SubscribeModal" role="presentation" class="fa fa-envelope-o fa-5x" style="text-align:center;"><br /><div style="font-size:15px;padding-top:10px;">Sign Up</div></li>
    </a>
</ul>

<!-- location for messages -->
<div class="col col-lg-8 col-lg-offset-2"><%= render 'layouts/messages' %></div>


<!-- tab of content -->
<div class='col col-lg-10 col-lg-offset-1'>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active col-lg-12 well" id="events">
        <h1>Next Up at the Leslie eLab</h1>
        <%  @decoded_array.each_slice(3) do |slice| %>
            <div class="row">
                <% slice.each do |event| -%>
                    <div class='col-lg-4 col' style="padding:30px;margin:0px;">
                        <% debug(event) %>
                        <h2><%= event["title"] %></h2>
                        <h4><%= event["date"] + ":" %>
                        <%= event["date_time"] %></h4>

                        <% @newArray = event["tags"].split(",") %>
                        <% @newArray = @newArray - ["inspire"] %>
                        <% @newArray = @newArray - ["educate"] %>
                        <% @newArray = @newArray - ["connect"] %>
                        <% @newArray = @newArray - ["accelerate"] %>
                        <% @newArray = @newArray - ["fund"] %>
                        <% @newArray = @newArray - ["elab"] %>
                        <% @newArray = @newArray - ["undergrad"] %>
                        <% @newArray = @newArray - ["graduate"] %>
                        <% @newArray = @newArray - ["faculty"] %>
                        <% @newArray = @newArray - ["featured"] %>
                        <p><% @newArray.each do |tag| %><%= content_tag :span, "#{tag} ", class: "tag" %><% end %></p>
                        <p><%= event["group"] %></p>
                        <%= event["description"] #.first(200) 
                        %>
                    </div>
                <% end %>
            </div>
        <% end %>       
    </div>

    <div role="tabpanel" class="tab-pane col-lg-12 well" id="aboutus">
        <div class="col-lg-6">
            <div class="vid">
                <iframe width="560" height="315" src="//www.youtube.com/embed/vqkIzGSS0X4?list=NYUEIMedia" frameborder="0"></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <h1>The Leslie eLab</h1>
            <p>The Mark and Debra Leslie Entrepreneurs Lab is a 5,900-square-foot facility in the heart of the Washington Square campus where aspiring NYU entrepreneurs from across all of NYU’s schools and colleges—be they students, faculty, or researchers—can meet to connect, collaborate, and tap into a vast array resources to help develop their ideas and inventions into startup companies.

            The Leslie eLab is located on street level at 16 Washington Place at the corner of Greene Street. It features flexibly configured co-working spaces, meeting rooms, an event space, and a fabrication lab to encourage interaction, prototyping, and collaboration so essential in the development of entrepreneurial ideas.</p>
        
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div style="float:right;">212-992-6070</div>
                    <div style="font-weight:bold;">Contact us:</div>
                    <div style="float:right;">Mon - Fri, 10am-10pm</div>
                    <div style="font-weight:bold;">Open Hours:</div>
                </div>
                <div class="col-lg-12">
                    <div style="float:right;">16 Washington Place</div>
                    <div style="font-weight:bold;">Address:</div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane col-lg-12" id="gethelp">
        <div class='col col-lg-6'>
            <%  @staff.each_slice(3) do |slice| %>
                <div class="row" style="padding-bottom:10px !important;padding-left:10px !important;padding-right:10px !important;padding-top:0px !important;">
                    <% slice.each do |employee| -%>
                        <div class='col col-lg-4' style="margin:0px !important;padding:0px  !important; padding:10px !important;" href="#<%= employee.firstname %>" aria-controls="<%= employee.firstname %>" role="tab" data-toggle="tab">
                        <%= image_tag employee.image, :class => "col-lg-12", :style => "" %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="tab-content col-lg-6">
                <div role="tabpanel" class="tab-pane active col-lg-12 well active" id="<%= @staff.first.firstname %>">
                    <h1><%= @staff.first.firstname %></h1>
                    <h3><%= @staff.first.title %></h3>
                    <p><%= @staff.first.bio %></p>
                    <%= button_to "Text #{@staff.first.firstname}", {action: "text", phone: @staff.first.phone, remote: true}, {class: 'btn btn-success col-lg-12', style: "min-height:100px;padding-top:20px;"} %>
                </div>
            <% for employee in @staff.drop(1) %>
                <div role="tabpanel" class="tab-pane col-lg-12 well" id="<%= employee.firstname %>">
                    <h1><%= employee.firstname %></h1>
                    <h3><%= employee.title %></h2>
                    <p><%= employee.bio %></p>
                    <%= button_to "Text #{employee.firstname}", {action: "text", phone: employee.phone, remote: true}, {class: 'btn btn-success col-lg-12', style: "font-size:20pt;min-height:100px;padding-top:20px;"} %>
                </div>
            <% end %>
        </div>
    </div>
</div>


<div id="SubscribeModal" class= "modal fade">
    <div class="modal-dialog" style="background-color:#999;margin-top:20%;">
        <div class = "modal-content col-lg-12">
            <div class = "modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button> -->
            </div> 
            <div class = "modal-body">
                <h1 class="" style="">Newsletter Signup</h1>
                <div class="input-group col-lg-12">
                        <%= form_for @signup do |f| %>  
                        <%= f.text_field :email, :style => "background-color:grey;padding-bottom:10px !important;", :class => "btn col-lg-12 well", :style=>"", :placeholder=>"Your Email", :id =>"" %>
                        <%= f.submit "Signup", :class => "btn btn-success col-lg-12", :style =>"" %> 
                        <input id="keyboard" type="text">
                        <% end %> 
                    </div> 
            </div>
            <div class = "modal-body"> 
            </div>
        </div>
    </div>
</div>





